.header {
    border: 30px solid gray;
    background-color: black;
}

body {
    background-color: lightblue;
  }


.header-title {
    font-family: 'Dancing Script', cursive;
    font-size: '16px'
}
