body {
    background-color: #EFE2BA;
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
    width: 100%;
  }

.navbar { 
    background-color: #4056A1;
    width: 100%;
    height: 65px;
    box-shadow: 1px 0px 5px black;
    display: flex;
}


.navbar-title {
    font-family: 'Dancing Script', cursive;
    font-size: '16px'
}

img {
    display: block;
}

.signature-img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

.navbar-button:hover {
    background-color: #2d3d75;
    color: #b0b6cf;
}

.navbar-button {
    background-color: #4056A1;
    display:block;
    transition: .5s;
    border: none;
    color: #EFE2BA ;
    text-align: center;
    font-size: 1em;
    font-family: sans-serif;
    padding: 15px;
}